body { margin:0; font-family:'Poppins', sans-serif; background:#faf7f2; }

   header {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url("https://images.unsplash.com/photo-1523438885200-e635ba2c371e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  text-align: center;

  padding: 120px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnMusica {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: linear-gradient(135deg, #c6a15b, #e6c07b);
  color: white;
  border: none;

  font-size: 20px;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  z-index: 999;
}

/* BANNER PREMIUM */
.banner-local.premium {
  position: relative;
  padding: 80px 20px;
  background: url("https://images.unsplash.com/photo-1519741497674-611481863552") center/cover no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/* camada escura elegante */
.banner-local .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

/* conteúdo */
.banner-local .conteudo {
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);

  padding: 40px;
  border-radius: 20px;

  box-shadow: 0 20px 60px rgba(0,0,0,0.3);
  max-width: 1000px;
  width: 100%;
}

/* texto */
.banner-local .info {
  flex: 1;
  color: white;
}

.banner-local h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 15px;
}

.banner-local .local {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f3ede6;
}

.banner-local .hora {
  font-size: 22px;
  color: #e6c07b;
  font-weight: 500;
  margin-bottom: 20px;
}

/* botão elegante */
.btn-mapa {
  display: inline-block;
  
  border-radius: 30px;
  

  background: linear-gradient(135deg, #c6a15b, #e6c07b);
  color: white;
  text-decoration: none;

  font-weight: 500;
  transition: 0.3s;
}

.btn-mapa:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* mapa */
.banner-local .mapa iframe {
  width: 350px;
  height: 250px;
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .banner-local .conteudo {
    flex-direction: column;
    text-align: center;
  }

  .banner-local .mapa iframe {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 80px 15px;
  }

  header h1 {
    font-size: 26px;
  }

  header p {
    font-size: 16px;
  }
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

header p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}


    .contador { margin-top:15px; font-size:18px; }

    .container { display:flex; justify-content:center; padding:40px 0; }

    .carrossel { width:90%; max-width:1000px; overflow:hidden; position:relative; }

    .track { display:flex; transition: transform 0.5s ease; }

    .banner-presentes {
  text-align: center;
  padding: 50px 20px;
  background: #f8f5f0;
}

.banner-presentes h2 {
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  color: #b48a5a;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.banner-presentes p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  color: #666;
}
    .card {
      min-width:260px;
      margin:10px;
      background:white;
      border-radius:16px;
      padding:20px;
      text-align:center;
      box-shadow:0 10px 25px rgba(0,0,0,0.1);
      flex-shrink:0;
    }

    .card h2 { font-family:'Playfair Display', serif; }
    .price { color:#b48a5a; font-size:22px; }

    button {
      background:#b48a5a;
      color:white;
      border:none;
      padding:10px;
      border-radius:8px;
      cursor:pointer;
      width:100%;
      margin-top:10px;
    }
    a{
        background:#b48a5a;
      color:white;
      border:none;
      padding:10px;
      border-radius:8px;
      cursor:pointer;
      width:100%;
      margin-top:10px;
      text-decoration: none;

    }
    
    img{
        
        height: 10rem;
        border-radius: 10px;
    }
    .nav {
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      background:rgba(0,0,0,0.4);
      color:white;
      border:none;
      width:40px;
      height:40px;
      border-radius:50%;
      cursor:pointer;
      z-index:2;
    }

    .prev { left:10px; }
    .next { right:10px; }

    @media(max-width:600px){
      .card{ min-width:80%; }
    }

    #car{
        width: 10%;
        height: 20%;
        border: 1px solid black;
        background-color: black;
    }

    /* TELA INICIAL */
#intro {
  position: fixed;
  inset: 0;
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  overflow: hidden;
}

/* TEXTO */
.intro-content {
  text-align: center;
}

.intro-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  letter-spacing: 3px;
}

.intro-content p {
  margin-top: 10px;
  font-size: 18px;
  color: #ddd;
}

/* ANIMAÇÕES */
.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 2s ease forwards;
}

.delay {
  animation-delay: 1s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SAÍDA DA TELA */
.fade-out {
  animation: sumir 2s ease forwards;
}

@keyframes sumir {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

    footer { text-align:center; padding:25px; background:#f3ede6; }